/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-sans-regular
{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-italic
{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-bold
{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

body
{
    background-color: #B6BBC4;
    color: #161A30;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0;
}

/* ----------------Start Menu section------------------- */ 
header {
  height: 80px;
  width: 100%;
  position: sticky;
  top:  0;
  margin-top: 0;
  background-color: #B6BBC4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  z-index:  1000;
}
header nav{
  width: 30%;
  /* background-color: #F5F7F8; */
}
.menu{
  display: flex;
  justify-content:space-around;
  box-sizing: border-box;
  /* padding: 0.4em 0.5em; */
}
#resume {
  width: 10%;
  box-sizing: border-box;
  padding: 0 2%;
}

#resume a{
  padding: 0.2em 0.3em;
}

.menu a{
  padding: 0.2em 0.3em;
}
/* .menu a:hover{
  border-bottom: #161A30 solid;
} */

.menu a:hover, #resume a:hover{
  border-bottom: #161A30 solid;
}
/* ----------------End Menu section------------------- */ 

/* ----------------Start About section------------------- */ 
.anchor {
  padding-top: 80px; /* Adjust this value to the height of your sticky header */
  /*margin-top: -80px; /* Same as the padding to offset the element */
}

.greetings {
  font-size: 3em;
  display: flex;
  flex-direction: column;
}

#about{
  display: flex;
  /* justify-content: center; */
}

#about .intro{
  flex: 2 300px;
}
.greetings h1{
  margin-bottom: 1%;
}
.intro p{
  margin-top: 0;
}
#about .pic{
  flex: 1 100px;
}

.intro {
    font-size: 2em;
}

a, ul{
  text-decoration: none;
  list-style-type: none;
  margin:  0;
  padding:  0;
  color: inherit;
}

main{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 10%;
}

.contact {
  width: 20%;
  display: flex;
}
.contact a img {
  width: 3em;
  margin: 0 15px;
}

#interests h2 {
  /* text-align: center; */
  margin-bottom: 0;
}
.list_unordered {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 30px */
}
.list_unordered li {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width based on your design */
  margin: 10px; /* Adjust margin as needed */
  margin-top: 1em;
}



/*--------------- Footer style---------------------*/
footer {
  height: 30px;
  width: 100%;
  margin: 0;
  /* display: flex; */
}
.copyright {
  width: 100%;
  /* padding: auto; */
  text-align: center; /* Align text to the center */
  bottom: 0;
}
/*--------------- End footer style -----------------------*/

